<%- include("partials/header"); -%>

<link
      href="csstemplate/bootstrap.css"
      type="text/css"
      rel="stylesheet"
      media="all"
    />
    <link href="csstemplate/style.css" type="text/css" rel="stylesheet" media="all" />
    <!-- font-awesome icons -->
    <link href="csstemplate/fontawesome-all.min.css" rel="stylesheet" />
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet"
    />
    <!-- //online-fonts -->
  </head>

  <body>
    <!-- banner -->
    <!-- <div class="inner-banner"> -->
    <!-- header -->
    <!-- <header>	
	<nav class="mnu navbar-light">
            <div class="logo" id="logo">
                <h1><a href="index.html">Indoctrination</a></h1>
            </div>
				<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="mr-lg-4 mr-3 "><a href="index.html">Home</a></li>
						<li class="mr-lg-4 mr-3"><a href="about.html">About</a></li>
                        <li class="mr-lg-4 mr-3"><a href="services.html">Services</a></li>
						<li class="mr-lg-4 mr-3 active">
                            <!-- First Tier Drop Down -->
    <!-- <label for="drop-2" class="toggle">Drop Down <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                              <li><a href="typo.html">Typography</a>
                                </li>
                                <li><a href="gallery.html">Gallery</a>
                                </li>
                            </ul>
                        </li>
						<li><a href="contact.html">Contact</a></li>
                    </ul>
    </nav>
</header> -->

    <!-- //header -->

    <!-- //banner-text -->
    <!-- banner -->
    <br><br>
    <div class="banner">
      <div class="container">
        <!-- banner-text -->
        <div class="banner-text">
          <div class="slider-info">
            <h3>GROW UP FUTURE CHOOSE RIGHT CAREER</h3>
          </div>
        </div>
        <div class="banner-top pb-5">
          <div class="row slider-bottom">
            <div class="col-md-3 slider-bottom-lft">
              <h4>Subscribe Now</h4>
              <p class="text-white mt-2">
                This is a longer card with supporting
              </p>
            </div>
            <div class="col-md-9 n-right-w3ls">
              <div class="row">
                <div class="col-md-4 form-group news-rt">
                  <input
                    class="form-control"
                    type="text"
                    name="Name"
                    placeholder="Name"
                    required=""
                  />
                </div>
                <div class="col-md-4 form-group news-lt">
                  <input
                    class="form-control"
                    type="email"
                    name="Email"
                    placeholder=" Email Address"
                    required=""
                  />
                </div>
                <div class="col-md-4 form-group news-last">
                  <div class="sbm-it">
                    <div class="form-group">
                      <input
                        class="form-control submit text-uppercase"
                        type="submit"
                        value="Subscribe"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- //banner-text -->
    <section class="about-w3ls py-5">
      <div class="container pt-xl-5 pb-lg-3">
        <div class="row">
          <div class="col-lg-7">
            <img src="imagestemplate/bg.jpg" alt="" class="img-section4 img-fluid" />
          </div>
          <div class="col-lg-5 section-4">
            <div class="agil_mor">
              <h2 class="heading-agileinfo">What <span> We Do</span></h2>
              <p class="vam">
                Vivamus sed porttitor felis. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis
                egestas.Sed lorem enim,
              </p>
              <a href="about.html" class="mt-3">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="about-w3ls py-5">
      <div class="container pt-xl-5 pb-lg-3">
        <div class="row">
          <div class="col-lg-5 section-5">
            <div class="agil_mor">
              <h3 class="heading-agileinfo">We <span> Offer</span></h3>
              <p class="vam">
                Vivamus sed porttitor felis. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis
                egestas.Sed lorem enim,
              </p>
              <a href="about.html" class="mt-3">Read More</a>
            </div>
          </div>
          <div class="col-lg-7">
            <img src="imagestemplate/1.jpg" alt="" class="img-section4 img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!--Gallery-->
    <section class="gallery py-lg-5">
      <div class="container py-5">
        <div class="title-section pb-sm-5 pb-3">
          <h2 class="heading-agileinfo text-center pb-4">
            Our <span> Gallery</span>
          </h2>
        </div>
        <div class="row agile_gallery_grids w3-agile demo">
          <div class="col-md-4 gal-sec">
            <div class="gallery-grid1">
              <a href="computerscience">
                <img src="imagestemplate/g1.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Computer Science</h4>
                  <p>Computer Science engineering students study design, implementation, and management of information systems of both software and hardware processes. </p>
                </div>
              </a>
            </div>
            <div class="gallery-grid1">
              <a href="civil">
                <img src="imagestemplate/g2.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Civil</h4>
                  <p> Civil Engineering  is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, structural components of buildings, and railways.</p>
                </div>
              </a>
            </div>
            <div class="gallery-grid1">
              <a href="electronics">
                <img src="imagestemplate/g3.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Electronics</h4>
                  <p>Electronic engineering (also called electronics and communications engineering) is an electrical engineering</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4 gal-sec">
            <div class="gallery-grid1">
              <a href="electricals">
                <img src="imagestemplate/g4.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Electricals</h4>
                  <p>Electrical engineering is an engineering discipline concerned with the study, design and application of equipment</p>
                </div>
              </a>
            </div>
            <div class="gallery-grid1">
              <a href="mechanical">
                <img src="imagestemplate/g5.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Mechanical</h4>
                  <p>Mechanical engineering is an engineering branch that combines engineering physics and mathematics principles with materials science to design, analyze, manufacture, and maintain mechanical systems.</p>
                </div>
              </a>
            </div>
            <!-- <div class="gallery-grid1">
              <a href="#gal6">
                <img src="imagestemplate/g6.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Indoctrination</h4>
                  <p>Gallery</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4 gal-sec">
            <div class="gallery-grid1">
              <a href="#gal7">
                <img src="imagestemplate/g7.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Indoctrination</h4>
                  <p>Gallery</p>
                </div>
              </a>
            </div>
            <div class="gallery-grid1">
              <a href="#gal8">
                <img src="imagestemplate/g8.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Indoctrination</h4>
                  <p>Gallery</p>
                </div>
              </a>
            </div>
            <div class="gallery-grid1">
              <a href="#gal9">
                <img src="imagestemplate/g9.jpg" alt=" " class="img-fluid" />
                <div class="p-mask">
                  <h4>Indoctrination</h4>
                  <p>Gallery</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </section>
    <!-- popup-->
    <div id="gal1" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g1.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->

    <!-- popup-->
    <div id="gal2" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g2.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal3" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g3.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup3 -->
    <!-- popup-->
    <div id="gal4" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g4.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal5" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g5.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal6" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g6.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal7" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g7.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal8" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g8.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal9" class="pop-overlay animate">
      <div class="popup">
        <img src="imagestemplate/g9.jpg" alt="Popup Image" class="img-fluid" />
        <p class="mt-4">
          Nulla viverra pharetra se, eget pulvinar neque pharetra ac int.
          placerat placerat dolor.
        </p>
        <a class="close" href="#gallery">&times;</a>
      </div>
    </div>
    
   </body>
 <%-include("partials/footer"); -%>
