<%- include("partials/header"); -%>
<br />
<br />
<br />

<section id="portfolio" class="section-bg">
  <div class="container">
    <header class="section-header">
      <h3 class="section-title">Life at SRGI</h3>
    </header>

    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-Infrastructure">Infrastructure</li>
          <li data-filter=".filter-Transportation">Transportation</li>
          <li data-filter=".filter-Library">Library</li>
          <li data-filter=".filter-DSW">Dean-Student Welfare</li>
          <li data-filter=".filter-Programes">Programes</li>
          <li data-filter=".filter-Tour">Tour</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">
      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
      >
        <div class="portfolio-wrap">
          <figure>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/b.tech.jfif?alt=media&token=4a3d6952-2392-4584-bbff-76ba909fb619"
              class="img-fluid"
              alt=""
            />
            <a title="Preview"><i class="ion ion-eye"></i></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Infrastructure</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/M.tech.jpg?alt=media&token=79900b7d-5235-4d8e-98d0-30a638e59858"
              class="img-fluid"
              alt=""
            />
            <a data-lightbox="portfolio" data-title="Web 3" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Academic Facilities</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/MBA.jpg?alt=media&token=d2e499b9-ea8e-4344-887e-1055db5cfac7"
              class="img-fluid"
              alt=""
            />
            <a data-lightbox="portfolio" data-title="App 2" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Campus Facilities</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Transportation wow fadeInUp"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/card2.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Card 2" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Transportation</a></h4>
            <p>Transportation</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Library wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/Pharmacy.jpg?alt=media&token=10131aa2-a55d-4f45-8714-89b0117cb38f"
              class="img-fluid"
              alt=""
            />
            <a data-lightbox="portfolio" data-title="Card 2" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Library</a></h4>
            <p>Library</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Library wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/card2.jpg" class="img-fluid" alt="" />
            <!-- href="img/portfolio/card2.jpg"
               class="link-preview"href="img/portfolio/card2.jpg"
               class="link-preview" -->
            <a data-lightbox="portfolio" data-title="Card 2" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Digital Library</a></h4>
            <p>Library</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/Polytechnic.jfif?alt=media&token=407fecc1-e902-475c-b488-4f65c6d8c52b"
              class="img-fluid"
              alt=""
            />
            <a data-lightbox="portfolio" data-title="Web 2" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Seminar Halls</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/app3.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="App 3" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">ATM Facilities </a></h4>
            <p>Infrasturcture</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-DSW wow fadeInUp">
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/card1.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Card 1" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Velocity</a></h4>
            <p>Dean-Student Welfare</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-DSW wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/card3.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Card 3" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Panache</a></h4>
            <p>Dean-Student Welfare</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Tour wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/card3.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Card 3" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Industrial Visit</a></h4>
            <p>Tour</p>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/card3.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Card 3" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Cafeteria</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/web1.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Web 1" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Laboratories</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/web1.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Web 1" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">WiproMTLC Centre</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Programes wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/web1.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Web 1" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">SRGI Convocation</a></h4>
            <p>Programes</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Infrastructure wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/web1.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Web 1" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">Hostel & Dining</a></h4>
            <p>Infrastructure</p>
          </div>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 portfolio-item filter-Programes wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="portfolio-wrap">
          <figure>
            <img src="img/portfolio/web1.jpg" class="img-fluid" alt="" />
            <a data-lightbox="portfolio" data-title="Web 1" title="Preview"
              ><i class="ion ion-eye"></i
            ></a>
            <a href="#" class="link-details" title="More Details"
              ><i class="ion ion-android-open"></i
            ></a>
          </figure>

          <div class="portfolio-info">
            <h4><a href="#">SRGI Carnival</a></h4>
            <p>Programes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
