<%- include("partials/header"); -%>

<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>Blog Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/blog/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-6 font-italic">
            Civil Engineering
          </h1>
          <p class="lead my-5">
               Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including public works such as roads, bridges, canals, dams, airports, sewerage systems, pipelines, structural components of buildings, and railways.
          </p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">CP Singh</h3>
              <div class="mb-1 text-muted">proctor</div>
              <p class="card-text mb-auto">
                Our experienced faculties from premier institutes bring a wealth
                of knowledge and expertise to the classroom. Their vast industry
                and teaching experience coupled with their research.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>

            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">World</strong>
              <h3 class="mb-0">Pradeep Bedi</h3>
              <div class="mb-1 text-muted">HOD(CSE)</div>
              <p class="mb-auto">
                Our commitment and dedication is to focus on experiential,
                cooperative and project-based learning that allows our students
                to continue to adapt, grow and succeed in solving real-world
                problems.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Infrastructure</h2>
            <p class="blog-post-meta">
              <a href="#">Mark</a>
            <h3><strong>Laboratory</strong></h3>
            <ul>
                 <li><strong>The strength of Materials:</strong></li>The laboratory offers facilities for testing building materials for their strength, behaviour and suitability for various applications. The laboratory also provides material testing services, building material testing services, refractory material testing services and geological material testing services.
                 <li><strong>Engineering Drawing:</strong></li>The facilities in this laboratory makes students get acquainted with the principles of projection, multi-dimensional view of objects, pictorial drawings and sketches, geometric construction, sectioning, lettering, tolerancing and dimensioning. It also lays emphasis upon analysis and graphic presentation of space relationships of fundamental geometric elements.
                 <li><strong>Survey:</strong></li>This laboratory houses all the sophisticated instruments viz. Electronic Total Station, GPS, Theodolite, Auto levels, Vernier Theodolite, Digital Planimeter, Dumpy Levels, in addition to other fundamental equipment such as Chain, Tape, Compass, and Plane Table.
                 <li><strong>Soil Mechanics:</strong></li>The space for this laboratory is well equipped with all instruments required for identification and classification of soils (w.r.t. physical and chemical properties) and strength testing of soil samples.
                 <li><strong>Water Resources/ Hydrology/ Hydraulics:</strong></li> This is a combined laboratory equipped with flow measuring devices in pipes and flow measurements in open channels. Facilities are available for calibration of flow measuring devices as well as pressure testing of pipes and pumps. The types of equipment in the lab are Reynolds apparatus with coloured die injector arrangement, Metacentric height apparatus, Pipe friction apparatus, Bernoulli's theorem apparatus, Loss in pipe fitting apparatus, Venturimeter and Orifice meter for flow measurement, Impact of jet apparatus, Notch apparatus, Darcy's law apparatus and Surface tension apparatus.
                 <li><strong>CAD/ CAM/ Geo-Informatics:</strong></li>This laboratory is an extension of the Engineering Drawing lab. In this, the students are taught working proficiency in CAD programs, such as AutoCAD and Pro/ENGINEER. This also has software for analysing the spatial data for GeoInformatics analysis.
                 <li><strong>Structural Analysis Lab:</strong></li>Structural analysis laboratory aims at modelling structural systems in the engineering domain and observing their mechanical behaviours. The lab is equipped with modern as well as traditional equipment for performing different experiments. Some equipment amongst the lot present in the laboratory are Shear Force & Bending Moment Analysis Apparatus, Analysis of Two Hinged and Three-Hinged Arches, Deflection of Curved Members.
                 <li><strong>Environmental Engineering Lab:</strong></li>The lab is well-equipped for characterisation and quality analysis of water and wastewater. Composed of both wet-lab and digital instruments, the lab caters to environmental engineering and environmental chemistry aspects of our raw/drinking water supplies and municipal/industrial sewage. Some of the salient equipment includes digital meters for measuring pH, turbidity, total dissolved solids and dissolved oxygen; instant residual chlorine kit; COD apparatus and Jar-test assembly for optimal coagulant dose.
                 <li><strong>Concrete Lab:</strong></li>Facilities and equipment are available for handling and preparation of concrete, for testing Wet concrete properties,   Temperature controlled ovens, In-situ Property Evaluation of concrete; Concrete core-cutting machine.

                 <li><strong>Transportation Lab:</strong></li>The Transportation Engineering laboratory of the Civil Engineering focuses on transport related issues. The lab aims at promoting applied research and new methodologies in the field of Transportation Engineering. The lab is equipped with equipment for conducting field and laboratory tests on Subgrade, Aggregates, Bituminous Materials and Bituminous Mixes; facilities for conducting traffic studies; facilities for assessing pavement performance and cyclic loading test equipment.

            <br><br>
            <blockquote>
             
            <h2>Seminars & Workshops</h2>
            <p>
              Seminars and workshops provide a chance to interact with experts from the specific field. Discussing about the relevant topics of the particular subject, students tend to learn about the latest information and new skills related to the concerned subject. 
            </p>
            
            <p>
              In a learning environment different and unique from classrooms, students learn more effectively and efficiently. Far from the textbooks and academic syllabuses, students research and learn on their own which boost their confidence, performance, and productivity.
            </p>
          
            <h3>Recent Workshop and Seminars:</h3>
            <p>
              
            </p>
            <ol>
              <li>
                Workshop on Ethical Hacking and Information Security
               
              </li>
              <li>
                A three days workshop on “ EMPLOY-ABILITY SKILLS “ was organized by SRGI in collaboration with AIMA
              </li>
              <li>
                DoMs, SRGI Organized  National Seminar on Impact of Demonetization on Indian Economy
              </li>
              <li>
                Workshop on “Auto CADD’” held in SRGI 30th September 2016
              </li>
              <li>
                A one day workshop on “MATLAB” was organized by SRGI in collaboration with IQRA
              </li>
              <li>
                A National Seminar on “Emerging trends in agriculture and Biotechnology” conducted on 24th March 2017
              </li>
            </ol>
          </div>
           
          <!-- /.blog-post -->
          <div class="container">
          <div class="row mb-2">
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">CP Singh</h3>
                  <div class="mb-1 text-muted">proctor</div>
                  <p class="card-text mb-auto">
                    Our experienced faculties from premier institutes bring a wealth
                    of knowledge and expertise to the classroom. Their vast industry
                    and teaching experience coupled with their research.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
    
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">World</strong>
                  <h3 class="mb-0">Pradeep Bedi</h3>
                  <div class="mb-1 text-muted">HOD(CSE)</div>
                  <p class="mb-auto">
                    Our commitment and dedication is to focus on experiential,
                    cooperative and project-based learning that allows our students
                    to continue to adapt, grow and succeed in solving real-world
                    problems.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a
              class="btn btn-outline-secondary disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Newer</a
            >
          </nav>
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
             <p>  The Department of Civil Engineering is part of the university since its inception. The Department has grown tremendously over the years and is now recognized as one of the major engineering department in the university. Department of Civil Engineering believes that excellence flourishes in an environment that embrace the broadest range of people, high quality that helps them to achieve their full potential.

               </p><p>Faculty of Civil Engineering aims to enrich the experience of students by cooperating with and assisting them in the realization of their educational goals especially as these involve their life-long learning and career development. <em>The Department of Civil Engineering with its multifaceted faculty continues to maintain and cultivate its strong</em> links with the infrastructural industry and academic and research institutions both within and outside the country. Department is actively involved in basic and applied research and also maintaining a capacity to respond selectively to new fields of research as they emerge.
              
               </p><p>Beside high-quality teaching and practical cognizance, the department focuses on research on both UG and PG level and also caters to the needs of technical advisory and consultancy. <em>Also emphasizing on research publications and related professional contributions in defining the career expectations of students</em>.
              
             </p><p> The Department of Civil Engineering offers the best and well-equipped labs for experimentation and research works.<em> Specialization offered at masters level has global exposure in terms of employability like Structural Engineering, Environmental Engineering, Construction Management, Geotechnical Engineering, Water Resource Engineering</em>.
              
             </p><p>  With all the faculties and conducive research, environment department ensures that graduates are educated in the broadest sense of the term, with the ability to think clearly, judge objectively, and contribute constructively to society.
              
               
            </p>
          </div>


        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
   
  </body>
</html>
<%- include("partials/footer"); -%>
