<%- include("partials/header"); -%>

<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>Blog Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/blog/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">
            Computer Science Engineering
          </h1>
          <p class="lead my-3">
            Computer Science engineers are involved in developing the software
            applications, testing and debugging the code , deployment of
            software and designing and modification of the component. They use
            different software to store and manage data in a secured manner.
          </p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">CP Singh</h3>
              <div class="mb-1 text-muted">proctor</div>
              <p class="card-text mb-auto">
                Our experienced faculties from premier institutes bring a wealth
                of knowledge and expertise to the classroom. Their vast industry
                and teaching experience coupled with their research.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>

            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">World</strong>
              <h3 class="mb-0">Pradeep Bedi</h3>
              <div class="mb-1 text-muted">HOD(CSE)</div>
              <p class="mb-auto">
                Our commitment and dedication is to focus on experiential,
                cooperative and project-based learning that allows our students
                to continue to adapt, grow and succeed in solving real-world
                problems.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Infrastructure</h2>
            <p class="blog-post-meta">
              <a href="#">Mark</a>
            </p>

            <p>
              The Department has five modern air-conditioned computing labs. Out
              of these, one lab is dedicated for the Postgraduate students and
              for research scholars in the Department. The whole Department is
              connected through LAN in order to provide modern teaching and
              learning environment and fast access to the Internet. All systems
              are equipped with high speed and excellent Internet connectivity
              in order to facilitate various academic throughputs and are
              available to the students for conducting e-learning and
              interactive lab session during the classes. In addition, the
              Department has round the clock Wi-Fi connectivity. The LAN caters
              to many important computing needs of the Department such as
              compilers of the popular programming languages, RDBMS software
              (Oracle, SQL Server), communication facility and Internet
              facility. All the labs, the seminar room and office are connected
              through LAN. Norton protection management & Internet security
              gateway are installed for virus protection and protection against
              eavesdropper. </p>
            <hr />
            <p>
              <p>
              
                <strong>Operating System:</strong> (Windows NT/XP, Windows 7 & Red
                Hat Linux), and requisite Software (Oracle-9i/10g, Microsoft
                Visual Studio.NET, Microsoft SQL server 2005, compiler of various
                languages such as C, C++, Java 1.7, MATLAB 7.14, Visual Prolog,
                Rational Rose, Microsoft Visual Basic, Acrobat Reader and Writer,
                Photoshop, Turbo Assembler, Borland C++, MS-Office-XP, Macromedia
                Director 11.5, Studio MAX (Dream Weaver, Flash, Freehand). 500
                Pentium IV/C2D/Quad Core PCs.</p><br><br>
                <strong> Servers:</strong> Mail server, DNS server,
                DHCP server, File server, Proxy server, Network monitoring server,
                Application server for Exam, Backup server. 
                </p>
                <p><strong> Printers:</strong> HP-Color
                LaserJet 2550Ln, HP-Color LaserJet 3600, HP-LaserJet 1020 series.</p>
                <p><strong>
                Scanner:</strong> HP-Scanjet 4750 C, HP Scanjet 5590, LCD Projectors, Kyan
                Machines.</p>
                <p><strong> Wireless LAN:</strong> IEEE 802.11 b based Cisco Aironet Access
                Points, CISCO Wireless Adaptor PCI/PCMCIA, HP iPAQ 3950 PDAs.</p>
            </p><br><br>
            <blockquote>
             
            <h2>Seminars & Workshops</h2>
            <p>
              Seminars and workshops provide a chance to interact with experts from the specific field. Discussing about the relevant topics of the particular subject, students tend to learn about the latest information and new skills related to the concerned subject. 
            </p>
            
            <p>
              In a learning environment different and unique from classrooms, students learn more effectively and efficiently. Far from the textbooks and academic syllabuses, students research and learn on their own which boost their confidence, performance, and productivity.
            </p>
          
            <h3>Recent Workshop and Seminars:</h3>
            <p>
              
            </p>
            <ol>
              <li>
                Workshop on Ethical Hacking and Information Security
               
              </li>
              <li>
                A three days workshop on “ EMPLOY-ABILITY SKILLS “ was organized by SRGI in collaboration with AIMA
              </li>
              <li>
                DoMs, SRGI Organized  National Seminar on Impact of Demonetization on Indian Economy
              </li>
              <li>
                Workshop on “Auto CADD’” held in SRGI 30th September 2016
              </li>
              <li>
                A one day workshop on “MATLAB” was organized by SRGI in collaboration with IQRA
              </li>
              <li>
                A National Seminar on “Emerging trends in agriculture and Biotechnology” conducted on 24th March 2017
              </li>
            </ol>
          </div>
           
          <!-- /.blog-post -->
          <div class="container">
          <div class="row mb-2">
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">CP Singh</h3>
                  <div class="mb-1 text-muted">proctor</div>
                  <p class="card-text mb-auto">
                    Our experienced faculties from premier institutes bring a wealth
                    of knowledge and expertise to the classroom. Their vast industry
                    and teaching experience coupled with their research.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
    
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">World</strong>
                  <h3 class="mb-0">Pradeep Bedi</h3>
                  <div class="mb-1 text-muted">HOD(CSE)</div>
                  <p class="mb-auto">
                    Our commitment and dedication is to focus on experiential,
                    cooperative and project-based learning that allows our students
                    to continue to adapt, grow and succeed in solving real-world
                    problems.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a
              class="btn btn-outline-secondary disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Newer</a
            >
          </nav>
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
              The advent of Computer Science in the second half of the last
              century bloomed into Information Technology (IT). The Department
              of Computer Science is envisioned to prepare competent, creative
              and innovative Computer Scientists who would be capable of meeting
              the challenges in the corporate environment. With the strength of
              qualified Computer experts, the department aspires to play a lead
              role in the
              <em
                >national vision of creating a futuristic knowledge economy
                through creativity and innovation</em
              >
              in Information and Knowledge Technologies. Our competent and
              highly qualified faculty are committed to helping our students in
              improving and enhancing their analytical thinking ability and
              creativity, and in understanding the professional issues related
              to ethics, professional conduct, economics, societal needs and
              their role in the technologically globalised world. The department
              is committed to foster a <em>creative and innovative</em> research
              environment.
            </p>
          </div>


        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
   
  </body>
</html>
<%- include("partials/footer"); -%>
