<%- include("partials/header"); -%>
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- required meta tags -->
    <meta charset="utf-8" />

    <meta
      name="description"
      content="Building modern responsive website with html5, css3, jQuery & bootstrap framework"
    />
    <meta
      name="keywords"
      content="HTML5, CSS3, jQuery, Bootstrap, Web Design, Web Development, Responsive website, Modern website"
    />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- title -->
    <title>Modern Responsive Website</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="imgt/favicon.ico" />

    <!-- google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i"
      rel="stylesheet"
    />

    <!-- fontawesome -->
    <link rel="stylesheet" href="csst/font-awesome/css/font-awesome.min.css" />

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="csst/bootstrap/bootstrap.min.css" />

    <!-- animate CSS -->
    <link rel="stylesheet" href="csst/animate/animate.css" />

    <!-- magnific-popup CSS -->
    <link rel="stylesheet" href="csst/magnific-popup/magnific-popup.css" />

    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="csst/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="csst/owl-carousel/owl.theme.default.min.css" />

    <!-- style CSS -->
    <link rel="stylesheet" href="csst/style.css" />

    <!-- responsive CSS -->
    <link rel="stylesheet" href="csst/responsive.css" />
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="65">
    <!-- About -->
    <section id="about">
      <!-- About right side with diagonal BG parallax -->
      <!-- <div id="about-bg-diagonal" class="bg-parallax"></div> -->

      <!-- About left side with content -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div id="about-content-box">
              <div id="about-content-box-outer">
                <div id="about-content-box-inner">
                  <div
                    class="content-title wow animated fadeInDown"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <h3>About Infrastructure</h3>
                    <div class="content-title-underline"></div>
                  </div>

                  <div
                    id="about-desc"
                    class="wow animated fadeInDown"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <p>
                      SRGI believes in providing the best college experience to
                      the students. With state of the art facilities and
                      upgraded infrastructure SRGI is one of the best college in
                      the country matching international standards. The
                      technologically upgraded classrooms facilitate teaching
                      through advanced tools and techniques. The university has
                      centrally air-conditioned classrooms with Wi-Fi enabled
                      projectors, tutorial rooms, multiple libraries, a
                      state-of-the-art seminar rooms and multiple fully equipped
                      auditoriums. The college's libraries are an empowering
                      unit with a Resource Centre providing audio-visual aids to
                      the students.
                    </p>
                    <p>
                      The university is enriched with renovated hostels, medical
                      support systems, modern gymnasium, a vast parking facility
                      (accessible to both students and faculty). The university
                      provides an eco-friendly environment to its students by
                      being a complete smoke-free zone, and it has also taken
                      active steps towards latest initiatives of solar heating,
                      rainwater harvesting, paper recycling and other green
                      initiatives. The university has taken extensive measures
                      to address the need for vigilance and security. The campus
                      is fully CCTV-enabled to cater to the safety requirements
                      of the students and staff.
                    </p>
                  </div>

                  <div
                    id="about-btn"
                    class="wow animated fadeInUp"
                    data-wow-duration="1s"
                    data-wow-delay=".5s"
                  >
                    <!-- <a
                      class="btn btn-lg btn-general btn-blue smooth-scroll"
                      href="#work"
                      role="button"
                      title="View Work"
                    >
                      Our Work
                    </a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Griglia alternata testo e immagine, resposive con flexbox.-->

    <!-- Work -->
    <section id="work">
      <div class="content-box">
        <div
          class="content-title wow animated fadeInDown"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <h3>OUR INFRASTRUCTURE</h3>
          <div class="content-title-underline"></div>
        </div>

        <div class="container-fluid">
          <div
            class="row no-gutters wow animated fadeInUp"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr5.jpg?alt=media&token=219a6131-09ca-4cc9-b519-c21b242cf20f"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr5.jpg?alt=media&token=219a6131-09ca-4cc9-b519-c21b242cf20f"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr2.jpeg?alt=media&token=2a05e5a1-6a6c-4e65-a787-568ced01ad8a"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr2.jpeg?alt=media&token=2a05e5a1-6a6c-4e65-a787-568ced01ad8a"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr3.jfif?alt=media&token=f0a8636f-52fd-4ada-bddc-12ceef0bafc3"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr3.jfif?alt=media&token=f0a8636f-52fd-4ada-bddc-12ceef0bafc3"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a
                  href="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr4.png?alt=media&token=20f38bd3-f0c6-4eeb-8c93-824c906fb6c5"
                  title="Work Description Goes Here"
                >
                  <img
                    src="https://firebasestorage.googleapis.com/v0/b/covid-25b82.appspot.com/o/sr4.png?alt=media&token=20f38bd3-f0c6-4eeb-8c93-824c906fb6c5"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a href="imgt/work/5.jpg" title="Work Description Goes Here">
                  <img
                    src="imgt/work/5.jpg"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a href="imgt/work/6.jpg" title="Work Description Goes Here">
                  <img
                    src="imgt/work/6.jpg"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a href="imgt/work/7.jpg" title="Work Description Goes Here">
                  <img
                    src="imgt/work/7.jpg"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-4">
              <div class="img-wrapper">
                <a href="imgt/work/8.jpg" title="Work Description Goes Here">
                  <img
                    src="imgt/work/8.jpg"
                    class="img-responsive"
                    alt="Work"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content Box -->
    </section>

    <!-- Team -->
    <!-- <section id="team">
      <div class="content-box">
        <div
          class="content-title wow animated fadeInDown"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <h3>Our Team</h3>
          <div class="content-title-underline"></div>
        </div>

        <div class="container">
          <div
            class="row wow animated fadeInUp"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <div class="col-md-12">
              <div id="team-members" class="owl-carousel owl-theme">
                <div class="team-member">
                  <img
                    src="imgt/team/team-1.jpg"
                    class="img-responsive"
                    alt="team member"
                  />
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Daniel Watrous</h4>
                    <h4 class="team-member-designation">CEO</h4>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="team-member">
                  <img
                    src="imgt/team/team-2.jpg"
                    class="img-responsive"
                    alt="team member"
                  />
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Sara Smith</h4>
                    <h4 class="team-member-designation">Co-Founder</h4>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="team-member">
                  <img
                    src="imgt/team/team-3.jpg"
                    class="img-responsive"
                    alt="team member"
                  />
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Steve Mike</h4>
                    <h4 class="team-member-designation">Sr. Developer</h4>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="team-member">
                  <img
                    src="imgt/team/team-4.jpg"
                    class="img-responsive"
                    alt="team member"
                  />
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Robert Hinay</h4>
                    <h4 class="team-member-designation">Sr. Designer</h4>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="team-member">
                  <img
                    src="imgt/team/team-5.jpg"
                    class="img-responsive"
                    alt="team member"
                  />
                  <div class="team-member-info text-center">
                    <h4 class="team-member-name">Mike Tera</h4>
                    <h4 class="team-member-designation">Sales</h4>
                    <ul class="social-list">
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#" class="social-icon icon-gray"
                          ><i class="fa fa-google-plus"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- End Content Box -->
    <!-- </section> -->

    <!-- Testimonials -->
    <!-- <section id="testimonials">
      <div id="testimonials-cover" class="bg-parallax">
        <div class="content-box">
          <div
            class="content-title content-title-white wow animated fadeInDown"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <h3>What Our Customers Say</h3>
            <div class="content-title-underline"></div>
          </div>

          <div class="container">
            <div
              class="row wow animated bounceInDown"
              data-wow-duration="1s"
              data-wow-delay=".5s"
            >
              <div class="col-md-12">
                <div
                  id="customers-testimonials"
                  class="text-center owl-carousel owl-theme"
                >
                  <div class="testimonial">
                    <img
                      src="imgt/client/client-1.jpg"
                      class="img-responsive img-circle"
                      alt="testimonial"
                    />
                    <blockquote class="text-center">
                      <p>
                        De cernantur concursionibus do incididunt fore nostrud,
                        quibusdam anim quorum ubi quae id aute sed eiusmod ita
                        fore et expetendis irure dolore te legam e do an
                        efflorescere, voluptate quo.
                      </p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p>
                        <strong> Daniel Watrous </strong>
                        <span> CEO & Founder - Google </span>
                      </p>
                    </div>
                  </div>

                  <div class="testimonial">
                    <img
                      src="imgt/client/client-2.jpg"
                      class="img-responsive img-circle"
                      alt="client"
                    />
                    <blockquote class="text-center">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis at pulvinar augue. Ut feugiat viverra pellentesque.
                        Integer scelerisque malesuada orci in cursus. Fusce
                        pellentesque urna quis risus rutrum, vitae blandit urna
                        pharetra. Praesent nunc enim, pharetra sed erat nec.
                      </p>
                    </blockquote>

                    <div class="testimonial-author">
                      <p>
                        <strong>Johan Mathew</strong>
                        <span>CEO & Founder - Yahoo</span>
                      </p>
                    </div>
                  </div>

                  <div class="testimonial">
                    <img
                      src="imgt/client/client-3.jpg"
                      class="img-responsive img-circle"
                      alt="client"
                    />
                    <blockquote class="text-center">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Duis at pulvinar augue. Ut feugiat viverra pellentesque.
                        Integer scelerisque malesuada orci in cursus. Fusce
                        pellentesque urna quis risus rutrum, vitae blandit urna
                        pharetra. Praesent nunc enim, pharetra sed erat nec.
                      </p>
                    </blockquote>

                    <div class="testimonial-author">
                      <p>
                        <strong>Sara Smith</strong>
                        <span>CEO & Founder - Amazon</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- End Content Box -->
    <!-- </div>
    </section> -->

    <!-- Clients -->
    <section id="clients">
      <div class="content-box">
        <div
          class="content-title wow animated fadeInDown"
          data-wow-duration="1s"
          data-wow-delay=".5s"
        >
          <h3>Clients</h3>
          <div class="content-title-underline"></div>
        </div>

        <div class="container">
          <div
            class="row wow animated bounceInLeft"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <div class="col-md-12">
              <div id="clients-list" class="owl-carousel owl-theme">
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-1.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-2.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-3.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-4.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-5.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-6.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-7.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
                <div class="client">
                  <img
                    src="imgt/client/logos/logo-8.jpg"
                    class="img-responsive"
                    alt="client"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content Box -->
    </section>

    <!-- jQuery -->
    <script src="jst/jquery.js"></script>

    <!-- bootstrap JS -->
    <script src="jst/bootstrap/bootstrap.min.js"></script>

    <!-- WOW JS -->
    <script src="jst/wow/wow.min.js"></script>

    <!-- magnific-popup JS -->
    <script src="jst/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- owl carousel JS -->
    <script src="jst/owl-carousel/owl.carousel.min.js"></script>

    <!-- counter -->
    <script src="jst/counter/jquery.waypoints.min.js"></script>
    <script src="jst/counter/jquery.counterup.min.js"></script>

    <!-- easing -->
    <script src="jst/easing/jquery.easing.1.3.js"></script>

    <!-- custom JS -->
    <script src="jst/custom.js"></script>
  </body>
</html>

<%- include("partials/footer"); -%>
