<%- include("partials/header"); -%>

<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>Blog Template · Bootstrap</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/blog/"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="/docs/4.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />
    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900"
      rel="stylesheet"
    />
    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">
            Mechanical Engineering
          </h1>
          <p class="lead my-3">
               Mechanical engineering is the study, design, development, construction, and testing of mechanical and thermal sensors and devices, including tools, engines, and machines. ... Mechanical engineers work mostly in engineering services, research and development, and manufacturing.
          </p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">JMK SIR</h3>
              <div class="mb-1 text-muted">HOD(Mechanical)</div>
              <p class="card-text mb-auto">
                Our experienced faculties from premier institutes bring a wealth
                of knowledge and expertise to the classroom. Their vast industry
                and teaching experience coupled with their research.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>

            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">World</strong>
              <h3 class="mb-0">Pradeep Bedi</h3>
              <div class="mb-1 text-muted">HOD(CSE)</div>
              <p class="mb-auto">
                Our commitment and dedication is to focus on experiential,
                cooperative and project-based learning that allows our students
                to continue to adapt, grow and succeed in solving real-world
                problems.
              </p>
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
                role="img"
                aria-label="Placeholder: Thumbnail"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

          <div class="blog-post">
            <h2 class="blog-post-title">Infrastructure</h2>
            <p class="blog-post-meta">
              <a href="#">Mark</a>
            </p>

            
            <p>
              <p>
              
                <strong>Basic Workshop:</strong> The first year students are taught about carpentry, machine shop, soldering, welding, sheet metal work, fitting work and smithy shop etc. in this shop.</p><br><br>
                <strong> Laboratories:</strong> The Mechanical Engineering department provides the latest knowledge to the students. All the laboratories cater to the needs of the students giving hands-on experience and the wide coverage of the subjects. The department has well-established laboratories. 
                </p>
                <p><strong>Engineering Mechanics Laboratory</strong> This Laboratory has apparatus to conduct the experiments based on worm and worm wheel, Belt Pulley, Trusses, Beams, Momentum Conservation, Friction, Moment of Inertia, Gear Train, Slider Crank Mechanism, Ultimate Tensile/ Compressive Strength, Toughness, Hardness etc..</p>
                <p><strong>
                    Material Science & Testing Laboratory:</strong>This Laboratory has the facilities for testing engineering materials. It includes two universal testing machines, Torsion testing machine, Impact test, Brinell hardness tester, Rockwell hardness tester, Vickers hardness tester, NDT methods. Microstructural examination on cutting, grinding, polishing, etching, and heat treatment experiments etc. can also be performed in this Laboratory.</p>
                <p><strong> Fluid Mechanics Laboratory:</strong> This lab provides the facilities to conduct the experiments based on orifice meters, venturi meters, notches, meta-centric heights, Reynolds number, friction factor, boundary layer thickness, Darcy law, surface tension, coefficient of viscosity, Bernoullis theorem, pipe fitting coefficients etc.

                </p>
                <p>
                     <strong>Dynamics of Machines Laboratory:</strong>This laboratory has an apparatus like cam & follower mechanism, governors, gyroscopes, gears, gear trains, brakes, clutches, linkages & mechanisms etc. to conduct several experiments.
                </p>
                <p>
                    <strong>Heat & Mass Transfer Laboratory:</strong>It facilitates to conduct the experiments on Stefan's law, emissivity, pool boiling, critical insulation thickness, heat pipes and various modes of heat transfer on a composite wall, composite cylinders, heat pipes, solar collector, heat exchangers (parallel and counter flow) etc.
               </p>
               <p>
                    <strong>Refrigeration and Air-conditioning Laboratory:</strong>This Laboratory emphasizes the study of various refrigeration and air-conditioning components e.g. compressor, evaporators, condensers, expansion devices etc. Performance evaluation complete system is done on several test rigs.
               </p>
               
            </p><br><br>
            <blockquote>
             
            <h2>Seminars & Workshops</h2>
            <p>
              Seminars and workshops provide a chance to interact with experts from the specific field. Discussing about the relevant topics of the particular subject, students tend to learn about the latest information and new skills related to the concerned subject. 
            </p>
            
            <p>
              In a learning environment different and unique from classrooms, students learn more effectively and efficiently. Far from the textbooks and academic syllabuses, students research and learn on their own which boost their confidence, performance, and productivity.
            </p>
          
            <h3>Recent Workshop and Seminars:</h3>
            <p>
              
            </p>
            <ol>
              <li>
                Workshop on Ethical Hacking and Information Security
               
              </li>
              <li>
                A three days workshop on “ EMPLOY-ABILITY SKILLS “ was organized by SRGI in collaboration with AIMA
              </li>
              <li>
                DoMs, SRGI Organized  National Seminar on Impact of Demonetization on Indian Economy
              </li>
              <li>
                Workshop on “Auto CADD’” held in SRGI 30th September 2016
              </li>
              <li>
                A one day workshop on “MATLAB” was organized by SRGI in collaboration with IQRA
              </li>
              <li>
                A National Seminar on “Emerging trends in agriculture and Biotechnology” conducted on 24th March 2017
              </li>
            </ol>
          </div>
           
          <!-- /.blog-post -->
          <div class="container">
          <div class="row mb-2">
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">CP Singh</h3>
                  <div class="mb-1 text-muted">proctor</div>
                  <p class="card-text mb-auto">
                    Our experienced faculties from premier institutes bring a wealth
                    of knowledge and expertise to the classroom. Their vast industry
                    and teaching experience coupled with their research.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
    
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
              >
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">World</strong>
                  <h3 class="mb-0">Pradeep Bedi</h3>
                  <div class="mb-1 text-muted">HOD(CSE)</div>
                  <p class="mb-auto">
                    Our commitment and dedication is to focus on experiential,
                    cooperative and project-based learning that allows our students
                    to continue to adapt, grow and succeed in solving real-world
                    problems.
                  </p>
                  <!-- <a href="#" class="stretched-link">Continue reading</a> -->
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg
                    class="bd-placeholder-img"
                    width="200"
                    height="250"
                    xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                    role="img"
                    aria-label="Placeholder: Thumbnail"
                  >
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" />
                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a
              class="btn btn-outline-secondary disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Newer</a
            >
          </nav>
        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">
               Close monitoring of the progress of the B.Tech. students are ensured by a team of <em>Research Associates and Teaching Assistants employed in the department</em>. All the labs are staffed with technical staff having vast experience in the Industry or with labs in top academic Institutions, who assist students in performing experiments.</p><p> Professional excellence, Self-Discipline, Professional attitude, and all around the development of students is encouraged by the Department throughout their stay.

               There is an Automobile lab equipped with state-of-the-art facilities to provide hands-on experience on an Automobile engine. The student has to work on various activities like <em>dismantling, overhauling and assembling of an engine which is the example of the way in which education is imparted to the students</em>.</p><p>
               
               Team Tornadoes Racing is official Baja Racing team of SRGI Mechanical Engineering Students, which participates in various Society of Automotive Engineers (SAE) Events. It has an SAE Collegiate Club comprising of 50+ students from all four years, who volunteered their time and talents to conceive the design and build small scale All-Terrain Vehicle (ATV ) for SAE events under the able guidance of Faculty Members. The Team Tornadoes racing is an entirely student-run competition team and every year they design and manufacture a new race vehicle. The objective of Team Tornadoes racing is to take our University's young aspiring Mechanical Engineers to push to their limits so that they can strengthen their minds to improvise the theoretical knowledge in today life.
            </p>
          </div>


        </aside>
        <!-- /.blog-sidebar -->
      </div>
      <!-- /.row -->
    </main>
   
  </body>
</html>
<%- include("partials/footer"); -%>
